@media (min-width: 1000px) {

    header{
        display: flex;
        justify-content: center;       
    }
    header h1{
        margin: auto 0;
        text-align: center;
    }
    .s-second{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        
    }
   .types{
    width: 33.33%;
    padding: 5px;
   }
   .img-type{
      width: 100%;
   }
   /*Weather*/
   .s-third{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
   }
   .input-data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .weather-data .current-weather {
    color: #fff;
    background: #d11149;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
  }
  .input-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;  
}
/*navigation */
#hamButton {
    display: none; /* hide hamburger button */
} 

.navigation {
    flex-direction: row;
}

.navigation li {
    display: block;
    flex: 1 1 auto;
}
 .foot{
    display: flex;
    justify-content: space-around;
 }
 .f-img, .f-media, .f-address{
    margin-top: 50px;
 }
 form label.data-input input, form label.data-input select{
    display: block;
    font-size: 2.5rem;
}
.formOrder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

}
#O-name, #o-email, #o-phone, #o-top1, #o-top2, #o-top3{
    font-size: 2rem;
    color: #d11149;
  }
  #totalCarbs, #totalProtein, #totalFat, #totalSugar, #totalCalories {
    font-size: 2rem;
    color: #d11149;
  }
  .paraSpan{
    font-size: 2rem;
    color: #d11149;
}
#place-order {
    font-size: 2rem;
    margin: 10px 50px;
    background-color:  #ffe0b5;
    color: #d11149;
    border: 1px solid #d11149;
  }
 
}