@media (min-width: 1000px) {
    .s-second{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        
    }
   .types{
    width: 33.33%;
    padding: 5px;
   }
   .img-type{
      width: 100%;
   }
}