@media (min-width: 700px) {

    .hero-img{
        width:100%;
        height: 50%;
        object-fit: cover;
    }
    .weather-input {
        width: 700px;
        text-align: center;
      }
      header{
        display: flex;
        justify-content: center;       
    }
    header h1{
        margin: auto 0;
        text-align: center;
    }
}